@charset "utd-8";
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
/* section */
#subHeader { background: no-repeat center bottom / cover; height: 300px; margin: 0 auto; }
#subHeader.subHeaderCompany {  display: block; background-image: url(../images/subTitlecustomer.jpg); }
#subheader h2 { padding-top: 70px; text-align: center; text-transform: uppercase;
                font-weight: normal; font-size: 70px; color: #fff;}
#subHeader { color: red; }
#subcontent2 { }
#subcontent2 h3 { }
#subcontent2 { }
.content2 { }
.content2 th { font-size: 15px; }
.content2 th td { }
